.banner-home {
    min-height: 70vh;
    background: url("https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    display: grid;
    place-items: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}